body {
  margin: auto;
  padding: 1em 1em;
  max-width: 98em;
  font-family: 'Montserrat', sans-serif;
  background: rgb(31,0,94);
  color: antiquewhite;
  text-align: center;
}

header {
  margin: 0 auto;
  text-align: center;
  padding: 0 1em 3.5em 1em;
  font-size: 1.5em;
}

.posts {
    text-align: left;
    background-color: rgb(27, 0, 80);
    margin-bottom: 0.5em;
    margin: 10px auto;
    overflow-wrap: break-word;
    border-color: azure;
    border-style: solid;
    border-color: rgb(28, 141, 247);
    box-shadow: 0px 3px 6px 0 rgb(28, 141, 247);
}

.posts-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.newpost-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    text-align: center;
}
.photo img {
    width: 300px;
    height: auto;
}

#map {
  height: 50vh;
  width: 80vw;
  margin: 20px auto;
}

#map-container {
  margin: 20px auto;
  padding: 20px 0;
  background-color: rgb(27, 0, 80);
  border: 2px solid rgba(28, 141, 247, 0.6);
  box-shadow: 0px 3px 6px 0 rgb(28, 141, 247);
  border-radius: 10px;
}

button, input[type=submit], select {
  background-color: rgb(28, 141, 247);
  color: antiquewhite;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

input[type=file] {
  background-color: rgb(28, 141, 247);
}

#fileupload label{
  background-color: rgb(28, 141, 247);
  color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#c {
    text-align: left;
    margin: 0 auto;
    display: none
}

select {
  background-color: rgb(27, 0 ,80);
}